<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PPS Junior</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    
    <div id="preloader">
      
    </div>

    <!-- page wrap
    ================================================== -->
    <div class="s-pagewrap">



        <!-- # site header 
        ================================================== -->
        <header class="s-header">
            <div class="header">
            <div class="s-header__block">
                <div class="s-header__logo">
                    <a class="logo" href="index.html">
                        <img src="img/images/hell.png" alt="Homepage">
                    </a>
                </div>

                <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
            </div> <!-- end s-header__block -->

            <div class=" s-header__nav-wrap ">
                <nav class="s-header__nav">
                    <ul>
                        <li ><a href="/" >Accueil</a></li>
                        <li ><a href="ouroffers" > Nos Offres</a> </li>
                        <!-- <li><a href="About-us.html" ></a></li> -->
                        <li class="current"><a href="contact" >Contactez Nous</a></li>
                    </ul>
                </nav>

               
            </div> <!-- end s-header__nav-wrap -->
            </div>
        </header> <!-- end s-header -->
    </div>
    <main >
        <section class="s-content s-content--narrow s-content--no-padding-bottom">
            <div class="row">
                <div class="col-full s-content__header" data-aos="fade-up">
                    <h1 class="display-1 display-1--with-line-sep">Contactez-nous</h1>
                    <p class="lead">Junior-PPS contact</p>
                </div>
            </div>
            <div class="row">
                <div class="col-full s-content__main" data-aos="fade-up">
                    <p class="lead">Si vous avez des question contactez-nous. Nous vous répondrons dans les plus brefs délais.</p>
                </div>

                <form action="https://formsubmit.co/contact@junior-pps.fr" method="POST">
                    
                        <div class="col-six tab-full">
                            <label for="sampleInput">Votre Nom <span class="required">*</span></label>
                            <input type="text" id="sampleInput" name="name" class="full-width" placeholder="Votre Nom" required>
                        </div>
                        <div class="col-six tab-full">
                            <label for="sampleRecipientInput">Votre Email <span class="required">*</span></label>
                            <input type="email" id="sampleRecipientInput" name="email" class="full-width" placeholder="Votre Email" required>
                        </div>
                        <div class="col-full">
                            <label for="sampleMessage">Votre Message <span class="required">*</span></label>
                            <textarea id="sampleMessage" name="message" class="full-width" placeholder="Votre Message" required></textarea>
                        </div>
                        <div class="col-full-button">
                            <button type="submit" class="submit btn btn--primary full-width">Envoyer</button>
                        </div>
                    
               </form>
            
           </section>

    </main>
    <footer class="row">
        <div  class="footer">
            <div class="col-full s-content__main" data-aos="fade-up">
                <h3>Ou nous trouver</h3>
                <p>
                    Bâtiment 620, Maison de l'Ingénieur, Rue Louis de Broglie, 91190 Orsay<br>
                    Téléphone: (+33) 0629877895<br>
                    Email:<a href="contact@junior-pps.fr"> contact@junior-pps.fr</a>
                    
                </p>
            </div>
        </div>
    </footer>
        
      
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
</body>
</html>
    