<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PPS Junior</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="img/image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="img/image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div class="s-pagewrap">



        <!-- # site header 
        ================================================== -->
        <header class="s-header">
            <div class="header">
            <div class="s-header__block">
                <div class="s-header__logo">
                    <a class="logo" href="index.html">
                        <img src="img/images/hell.png" alt="Homepage">
                    </a>
                </div>

                <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
            </div> <!-- end s-header__block -->

            <div class=" s-header__nav-wrap ">
                <nav class="s-header__nav">
                    <ul>
                        <li class="current" ><a href="/" >Accueil</a></li>
                        <li ><a href="ouroffers" > Nos Offres</a> </li>
                        <!-- <li><a href="About-us.html" ></a></li> -->
                        <li ><a href="contact" >Contactez Nous</a></li>
                    </ul>
                </nav>

               
            </div> <!-- end s-header__nav-wrap -->
            </div>
        </header> <!-- end s-header -->


        <!-- # intro 
        ================================================== -->
        <section id="intro" class="s-intro target-section">

            <div class="row">
                <div class="column">
                    <div class="s-intro__top-block">
                        <span class="s-intro__bg"></span>

                        <h1 class="s-intro__text">
                            <img src="img/images/Logo_JPPS-removebg-preview.png" alt="Homepage">
    
                        </h1>

                        <a href="#services" class="s-intro__scroll-down smoothscroll">
                            <span>Scroll Down</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:rotate(180deg)-ms-filter progid:DXImageTransform.Microsoft.BasicImage(rotation=2)"><path d="M21 11L6.414 11 11.707 5.707 10.293 4.293 2.586 12 10.293 19.707 11.707 18.293 6.414 13 21 13z"></path></svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row row-x-center s-intro__about-wrap">
                <div class="column s-intro__about">
                    

                    <p>
                        Junior Polytech Paris Saclay est l’association entrepreneuriale de Polytech Paris Saclay. Doté d’une identité forte grace à nos 4 formations d’ingéniérie spécialisée et d’un enseignement scientifique, economique et d’entreprise solide, nous réalisons vos projets grace à nos compétences à la pointe de l’enseignement.
                    </p>

                </div>
            </div>

            <div class="row about-stats stats block-lg-one-fourth block-md-one-half block-mob-whole" data-animate-block>
                
                <div class="column stats__item" data-animate-el>
                    <div class="stats__count" data-counter=800><span>800</span>+</div>
                    <h5>Etudiant mobilisable</h5>
                    
                </div>
                <div class="column stats__item" data-animate-el>
                    <div class="stats__count" data-counter=16><span>16</span></div>
                    <h5>Classement shangai</h5>
                   
                </div>
                <div class="column stats__item" data-animate-el>
                    <div class="stats__count" data-counter=6><span>6</span></div>
                    <h5>Domaines de compétences</h5>
                   
                </div>
                <div class="column stats__item" data-animate-el>
                    <div class="stats__count" data-counter=20><span>20</span></div>
                    <h5>Laboratoires associés</h5> 
                   
                </div>
    
            </div> <!-- end about-stats -->

        </section> <!-- end s-intro -->


        <!-- # services
        ================================================== -->
        <section id="services" class="s-services target-section">

            <div class="row section-header has-bottom-sep">
                <div class="column lg-12">
                 
                    <h1 class="text-display-title1">
                        Nos domaines d’expertise  <br>
                    
                    </h1>
                </div>
            </div> <!-- end section-header -->
    
            <div class="row services-list block-lg-one-half block-tab-whole" data-animate-block>
    
                <div class="column service-item" data-animate-el>
                    <div class="service-icon-block">
                        <span class="service-icon service-icon--product-design"></span>
                    </div>
                    <div class="service-text">
                        <h3 class="h4">Informatique</h3>
                        <ul>
                            
                            <li>Conception de logiciels</li>
                            <li>Conception de sites web</li>
                            <li>Conception d'application smartphone</li>
                            
                        </ul>
                    </div>
                </div>
    
                <div class="column service-item" data-animate-el>
                    <div class="service-icon-block">
                        <span class="service-icon service-icon--branding"></span>
                    </div>
                    <div class="service-text">
                        <h3 class="h4">Mécanique</h3>
                        <ul>
                            
                            <li>Bilan énergétique de bâtiments</li>
                            <li>Étude mécanique par element finis</li>
                            <li>Caractérisation matériaux</li>
                            
                        </ul>
                    </div>
                </div>
    
                <div class="column service-item" data-animate-el>
                    <div class="service-icon-block">
                        <span class="service-icon service-icon--frontend"></span>
                    </div>
                    <div class="service-text">
                        <h3 class="h4">Électronique et robotique</h3>
                        <ul>
                            
                    
                            <li>Mise en place de services d'asservissement</li>
                            <li>Traitement d'images</li>

                            
                        </ul>
                    </div>
                </div>
    
                <div class="column service-item" data-animate-el>
                    <div class="service-icon-block">
                        <span class="service-icon service-icon--research"></span>
                    </div>
                    <div class="service-text">
                        <h3 class="h4">Optique</h3>
                        <ul>
                            
                            <li>Analyse et caractérisation de sources optiques</li>
                            <li>Création et optimisation de lentille</li>
                            <li>Automatisation optique</li>
                        </ul>
                    </div>
                </div>
    
                <div class="column service-item" data-animate-el>
                    <div class="service-icon-block">
                        <span class="service-icon service-icon--illustration"></span>
                    </div>
                    <div class="service-text">
                        <h3 class="h4">Conception et prototypage</h3>
                        <ul>
                            
                            <li>Conception et modelisation 3D</li>
                            <li>prototypage électronique et Impression 3D</li>

                            
                        </ul>
                    </div>
                </div>
        
                <div class="column service-item" data-animate-el>
                    <div class="service-icon-block">
                        <span class="service-icon service-icon--ecommerce"></span>
                    </div>
                    <div class="service-text">
                        <h3 class="h4">Stratégie</h3>
                        <ul>
                            
                            <li>Analyse économie d'entreprise</li>
                            <li>Étude de notoriété</li>

                        </div>
                </div>
    
            </div> <!-- end services-list -->

            <div class="row section-header section-header--dark ">
                <div id="pushing-it"class="column lg-12">
                   
                    <h1 class="text-display-title1">
                        Une Idée , un projet ? <br>
                        Contactez nous !
                    </h1>
                </div>
            </div>
           
            <div class="row text-center s-contact__content">
                <div class="column lg-12">
                    
                    <div class="btn-wrap">
                        <a href="contact" id="reversedcolors" class="btn btn--primary ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:-ms-filter;"><path d="M20,4H4C2.897,4,2,4.897,2,6v12c0,1.103,0.897,2,2,2h16c1.103,0,2-0.897,2-2V6C22,4.897,21.103,4,20,4z M20,6v0.511 l-8,6.223L4,6.512V6H20z M4,18V9.044l7.386,5.745C11.566,14.93,11.783,15,12,15s0.434-0.07,0.614-0.211L20,9.044L20.002,18H4z"></path></svg>
                            Nous Écrire
                        </a>
                    </div>
                </div>
            </div>
            
           <div class="white-background">
            <div class="row section-header has-bottom-sep">
                <div class="column lg-12">
                 
                    <h1 class="text-display-title1">
                        Ils nous soutiennent <br>
                        
                    </h1>
                </div>
            </div> <!-- end section-header -->
    
                <div class="row logos-poly s-contact__content">
                    <img src="img/images/JEEP_Logo.png" alt="Logo" width="200" height="200">
                    <img src="img/images/index-removebg-preview.png" alt="Logo"  height="200">
                </div>
           </div>
        </section> <!-- end s-services -->


        <!-- ## works
        ================================================== -->
       
    
            </div> <!-- folio-list -->

            
           

        <!-- ## contact
        ================================================== -->
        <section id="contact" class="s-contact target-section">

           
            <footer  class="s-footer">

                <div class="row s-footer__top">
                    <div class="column lg-5 md-8 stack-on-700 s-footer__block contact-address">
                        <h4 class="h6">Où nous trouver</h4>
        
                        <p>
                        Polytech Paris-Saclay <br>
                        Rue Louis de Broglie <br>
                        91190 Orsay
                        </p>
                    </div>

                    <div class="column lg-3 md-4 stack-on-700 s-footer__block contact-social">
                        <h4 class="h6">Follow Us</h4>
        
                        <ul class="contact-list">
                            <li><a href="#0">Facebook</a></li>
                            <li><a href="#0">LinkedIn</a></li>
                            <li><a href="#0">Instagram</a></li>
                        </ul>
                    </div>
        
                    <div class="column lg-3 md-12 s-footer__block contact-number">
                        <h4 class="h6">Contact Us</h4>
        
                        <ul class="contact-list">
                            <li><a href="mailto:contact@junior-pps.fr">contact@junior-pps.fr</a></li>
                            <li><a href="tel:+33 06 29 87 78 95">06 29 87 78 95</a></li>
                        </ul>
                    </div>
                </div> <!-- end s-footer__top -->

                <div class="row s-footer__bottom">
                    <div class="column ss-copyright">
                        <span>© Copyright JPPS 2022</span> 
                        <span>Made by <a href="https://www.linkedin.com/in/elmdimegh-mohamed/">Mohamed Elmdimegh</a></span>
                    </div>

                    <div class="ss-go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top">
                            <span class="ss-go-top__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:rotate(90deg) -ms-filter progid:DXImageTransform.Microsoft.BasicImage(rotation=1)"><path d="M6 4H18V6H6zM11 14L11 20 13 20 13 14 18 14 12 8 6 14z"></path></svg>
                            </span>
                            <span class="ss-go-top__text">Back to Top</span>
                        </a>
                    </div>
                </div> <!-- end s-footer__top -->

            </footer>

        </section> <!-- end s-contact -->

    </div> <!-- end -s-pagewrap -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
Homepage
ACCUEIL
NOS OFFRES
CONTACTEZ NOUS

                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- Java Script
    ================================================== -->
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>
</html>