<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

  <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PPS Junior</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="img/image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="img/image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        
    </div>


    <!-- page wrap
    ================================================== -->
    <div class="s-pagewrap">



        <!-- # site header 
        ================================================== -->
        <header class="s-header">
            <div class="header">
            <div class="s-header__block">
                <div class="s-header__logo">
                    <a class="logo" href="index.html">
                        <img src="/img/images/hell.png" alt="Homepage">
                    </a>
                </div>

                <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
            </div> <!-- end s-header__block -->

            <div class=" s-header__nav-wrap ">
                <nav class="s-header__nav">
                  <ul>
                    <li ><a href="/" >Accueil</a></li>
                    <li class="current"><a href="ouroffers" > Nos Offres</a> </li>
                    <!-- <li><a href="About-us.html" ></a></li> -->
                    <li ><a href="Contact" >Contactez Nous</a></li>
                </ul>
                </nav>

               
            </div> <!-- end s-header__nav-wrap -->
            </div>
        </header> <!-- end s-header -->
    </div>
   

    
      
      <main id="carousel-slider" class="carousel-main">
      <div class="carousel">
        <div class="carousel__nav">
                <span id="moveLeft" class="carousel__arrow">
                    <svg class="carousel__icon" width="24" height="24" viewBox="0 0 24 24">
                <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
            </svg>
                </span>
                <span id="moveRight" class="carousel__arrow" >
                    <svg class="carousel__icon"  width="24" height="24" viewBox="0 0 24 24">
                <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
            </svg>    
                </span>
                </div>
        <div class="carousel-item carousel-item--1 active">
          <div class="carousel-item__image"></div>
          <div class="carousel-item__info">
            <div class="carousel-item__container">
            <h2 class="carousel-item__subtitle">MÉCANIQUE ET ÉNERGIE</h2>
            <h1 class="carousel-item__title">Materiaux</h1>
            <p class="carousel-item__description"> 
              <li>Bilan énergétique de bâtiments</li>
              <li>Étude mécanique par element finis</li>
              <li>Caractérisation matériaux</li>
              </p>
            <a href="#" class="carousel-item__btn">Découvrez notre spécialité</a>
              </div>
          </div>
        </div>
        <div class="carousel-item carousel-item--2">
          <div class="carousel-item__image"></div>
          <div class="carousel-item__info">
            <div class="carousel-item__container">
            <h2 class="carousel-item__subtitle">ÉLECTRONIQUE ET ROBOTIQUE</h2>
            <h1 class="carousel-item__title">Système embarqué</h1>
            <p class="carousel-item__description">
              <li>Modélisation de systèmes asservis</li>
              <li>Traitement d'images</li>
              <li>prototypage électronique</li>
            </p>
            <a href="#" class="carousel-item__btn">Découvrez notre spécialité</a>
              </div>
          </div>
        </div>
          <div class="carousel-item carousel-item--3">
          <div class="carousel-item__image"></div>
          <div class="carousel-item__info">
            <div class="carousel-item__container">
            <h2 class="carousel-item__subtitle">WEB ET IA</h2>
            <h1 class="carousel-item__title">Informatique</h1>
            <p class="carousel-item__description">
              <li>Conception de logiciels</li>
              <li>Conception de sites web</li>
              <li>Conception d'application smartphone</li>
            </p>
            <a href="#" class="carousel-item__btn">Découvrez notre spécialité</a>
              </div>
          </div>
        </div>
        
         <div class="carousel-item carousel-item--4">
          <div class="carousel-item__image"></div>
          <div class="carousel-item__info">
            <div class="carousel-item__container">
            <h2 class="carousel-item__subtitle">SYSTÉME OPTRONIQUES</h2>
            <h1 class="carousel-item__title">Optique </h1>
            <p class="carousel-item__description">
              <li>Analyse de sources optiques</li>
              <li>Création et optimisation de lentille</li>
              <li>Automatisation optique</li>
            </p>
            <a href="#" class="carousel-item__btn">Découvrez notre spécialité</a>
              </div>
          </div>
        </div>
        
       
        
      </div>
    </main>

    
        
      
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
</body>
</html>
    